
  <div class="row border border-1 border-danger d-flex bg justify-content-center align-items-center">
  <div class="col-md-10 col-lg-6 col-xl-5  ">

    <form class="mx-1 mx-md-4" [formGroup]="registerForm">

      <div class="d-flex flex-row align-items-center">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div data-mdb-input-init class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example1c">Your Name</label>
          <input type="text" id="form3Example1c" class="form-control"  formControlName="name"/>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center ">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div data-mdb-input-init class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example3c">Your Email</label>
          <input type="email" id="form3Example3c" class="form-control" formControlName="email" />
        </div>
      </div>

      <div class="d-flex flex-row align-items-center ">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div data-mdb-input-init class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example4c">Password</label>
          <input type="password" id="form3Example4c" class="form-control" formControlName="password" />
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" (click)="register()">Register</button>
      </div>

    </form>

  </div>
  <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
      class="img-fluid" alt="Sample image">

  </div>
</div>
<app-loading-spinner *ngIf="isLoading" ></app-loading-spinner>

